body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
}

h1{
    color: springgreen;
    font-size: 40px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    gap: 4px;
    width: 25%;
    padding: 4px;
}

.grid-container > div{
    text-align: center;
    background-color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container > div button{
    width: 100%;
    height: 100%;
    font-size: 30px;
    background-color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.5s;
}

.grid-container > div button:hover{background-color: springgreen;}

.grid-container input{margin-left: 2%;}

.grid1, .grid2{
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid5{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.grid8{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
}

.grid8 input{border: none;}