body {
    background:#d4c7b9;
    font-size:18px;
}

h1,h2,footer {
    padding:0.2em;
    text-align:center;
}

.srodek {text-align:center;}

nav{
    float:left;
    width:100%;
}

footer {
    background: #45525a;
    color:#ffe9ba;
}

nav button {
    background: #45525a;
    color:#ffe9ba;
    float:left;
    display:block;
    width:24%;
    margin-right: 1%;
    padding:1% 0;
    font-size:110%;
    text-align:center;
    border-radius:20px;
}

section {clear:both;}

img {
    max-width: 100%;
    height: auto;
    border-radius:20px;
}

.slajd {
    float:left;
    display:block;
    width:13%;
    text-align:center;
    border-radius:20px;
    background:#ffe9ba;
    padding:1% 0.5%;
    margin:1%;
}

.slajd:hover {background:#45525a;}

footer {
    clear:both;
    border-radius:20px;
}

.galeria{
    margin:auto;
    width:90%;
}

#kontakt{margin-left: 40%;}

#form{
    margin-left: 40%;
    margin-bottom: 10px;
}

textarea{background: white;}

@media screen and (max-width: 720px) {
    nav button { width: 48%;
        padding: 10px 0;
        font-size:140%;
    }
    .slajd {width: 45%; }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    body { font-size: 13px; }
    h1 { font-size: 23px; }
    h2 { font-size: 18px; }
}

@media screen and (max-width: 481px) {
    body { font-size: 16px; }
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    nav button{ font-size:20px;
        padding:10px 0;
        border-bottom: 3px solid white;
        width: 98%;
    }
    .slajd {width: 95%; }
}
